<?xml version="1.0"?>
<config>

  <modules>
    <Tobihille_ApiModelBridge>
      <version>0.1.0</version>
    </Tobihille_ApiModelBridge>
  </modules>

  <global>

    <helpers>
      <apimodelbridge>
        <class>Tobihille_ApiModelBridge_Helper</class>
      </apimodelbridge>
    </helpers>

    <models>
      <apimodelbridge>
        <class>Tobihille_ApiModelBridge_Model</class>
      </apimodelbridge>
    </models>

  </global>

  <default>
    <api>
      <apimodelbridge>
        <enable>1</enable>
        <enable_put>0</enable_put>
        <enable_delete>0</enable_delete>
        <return_fault>1</return_fault>
      </apimodelbridge>
    </api>
  </default>
</config>
